-
    const dataAssociation = [
        {
            country: 'Iraq',
            flag:'flag-iraq.jpg',
            number_of_alumni: '312',
            alumni: [
                {
                    role: 'coordinator',
                    id: '1',
                    photo: 'assets/images/alumni/iraq-1.jpg',
                    name: 'Dr. Al-Kaeath Nabeel Abdalla Kaeath',
                    position: 'Head of AKKAD Organization',
                    position_2: 'Assistant Professor',
                    company_2: 'Al-Muthanna University',
                    company: '',
                    email: 'nabeel_kaeat@mu.edu.iq',
                    review: 'In 2016 together with some of my fellow graduates of Tambov State Technical University, I founded the Akkad Organization for Cultural Exchange between Iraq and Russia. Our goal was to expand scientific and cultural cooperation between Iraqi and Russian society. Since then, we have implemented many successful projects.',
                    review_detail: ' From the moment of graduation to today, I visit Tambov and TSTU almost every year. I definitely participate in scientific conferences and cultural events that take place at its base, and invite my fellow engineers and teachers from Iraqi universities to visit my dear university.',
                },
                {
                    photo: 'assets/images/alumni/iraq-2.jpg',
                    name: 'Omar Hashim Yahya  Al-Hamami',
                    position: '',
                    company: '',
                    email: 'omar.h.yahya@gmail.com',
                },
                {
                    photo: 'assets/images/alumni/iraq-3.jpg',
                    name: 'Asaad Khudhair Almayyahi',
                    position: 'Assistant Professor at Southern Technical University',
                    company: '',
                    email: 'O8l1ubad6j@gmail.com',
                },
                {
                    photo: 'assets/images/alumni/iraq-4.jpg',
                    name: 'Al-Kinani Hussein Razzaq Nayyef',
                    position: 'Teacher at Southern Technical University',
                    company: '',
                    email: '',
                }
            ],
        },
        {
            country: 'Namibia',
            flag:'flag-namibia.jpg',
            number_of_alumni: '5',
            alumni: [
                {
                    role: 'coordinator',
                    photo: 'assets/images/Paul.jpg',
                    name: 'Dr. Paulus Sheetekela',
                    position: 'Director: ICT Services Directorate',
                    company: 'International University of Management (IUM)',
                    position_2: 'Vice President',
                    company_2: 'Russian Alumni Association of Namibia (RAAN)',
                    email: 'nabeel_kaeat@mu.edu.iq',
                }
            ]
        },
        {
            country: 'Venezuela',
            flag:'flag-venezuela.jpg',
            number_of_alumni: '3',
            alumni: [
                {
                    photo: 'assets/images/victoriaizarith.jpg',
                    name: 'Victoria Izarith Jorges Rodriguez',
                    position: '',
                    company: '',
                    email: 'victoriaizarith@gmail.com',
                },
                {
                    photo: 'assets/images/venezuela-2.jpg',
                    name: 'Garrido Garcia Juan Ernesto',
                    position: '',
                    company: '',
                    email: 'juanernestogg@gmail.com',
                }
            ]
        },
        {
            country: 'Yemen',
            flag:'flag-yemen.jpg',
            number_of_alumni: '119',
            alumni: [
                {
                    photo: 'assets/images/yemen-1.jpg',
                    name: 'Said Bassam Mohamed Ghalib',
                    position: 'Interpreter',
                    company: '',
                    email: 'galaxy2010@mail.ru',
                    review:'',
                },
                {
                    photo: 'assets/images/yemen-2.jpg',
                    name: 'Mareai Yuosef Abdo Saleh Muthanna',
                    position: 'Politician, Researcher',
                    company: '',
                    email: 'yousefmaree299@gmail.com',
                }
            ]
        },
        {
            country: 'Algeria',
            flag:'flag-algeria.jpg',
            number_of_alumni: '10',
            alumni: [
                {
                    role: 'coordinator',
                    id: '2',
                    photo: 'assets/images/alumni/algeria-1.jpg',
                    name: 'Slimanou Meriem',
                    position: 'Researcher',
                    company: '',
                    email: 'slimanou.meriem@gmail.com',
                    review: "I completed my master's degree in Algeria, and then came to study in Russia and enrolled in postgraduate school at Tambov State Technical University. Studying at TSTU was both a stimulating and rewarding experience, thanks to the specialty I chose in the field of green hydrogen and renewable energy sources.",
                    review_detail: " Throughout my studies, I felt the support and kindness of the faculty and staff of the Postgraduate department. The responsible persons building the learning process were kind and responsive, which greatly facilitated my learning. I would like to say a few words to my supervisor. Thanks to his professional advice and expertise, I was able to expand my research and explore new approaches in the field of renewable energy sources. He was always ready to discuss my ideas, and his constructive feedback was very valuable for my academic development. As a foreign student, I have participated in numerous social and cultural events organized by the Faculty of Foreign Education. It helped me to make acquaintances with fellow students from different countries and cultures. In conclusion, I would like to note that studying at Tambov State Technical University is characterized by high-quality mentoring and development opportunities, which together have enriched my path as a researcher.",
                }
            ]
        },
        {
            country: 'Syria',
            flag:'flag-syria.jpg',
            number_of_alumni: '3',
            alumni: [
                {
                    role: 'coordinator',
                    id: '3',
                    photo: 'assets/images/alumni/syria-1.jpg',
                    name: 'Ezzeddin Bahaa',
                    position: 'Teacher',
                    company: '',
                    email: 'bahaa.ezzeddin89@gmail.com',
                    review: "More than eight years ago, I started studying at Tambov State Technical University. In 2017, I enrolled in a preparatory course for learning the Russian language, and in the 2017/2018 academic year I began my master's degree in the specialty Technological Machines and Equipment.",
                    review_detail: " All my studies were conducted in Russian and it was not very easy for me because of the language difficulties. But the understanding and cooperation of the teachers with us, as with foreign students, made the task easier. After completing my Master's degree, I continued my postgraduate studies in the specialty Nanotechnology and Nanomaterials. In 2023 I completed postgraduate studies and successfully defended my thesis for the degree of Candidate of Technical Sciences. In conclusion, I would like to say that studying at Tambov State Technical University has become a good experience for me and has opened up new horizons to develop my professional future.",
                },
                {
                    photo: 'assets/images/syria-2.jpg',
                    name: 'Zain Alabideen Salah Ali',
                    position: 'Lawyer - Manager of Legal Department in Telecommunications Company',
                    company: 'MTN',
                    email: 'z.a.ali.law@gmail.com',
                },
                {
                    photo: 'assets/images/syria-3.jpg',
                    name: 'Marah Mohammad Daaboul',
                    position: 'Finance Company Administrative Assistant',
                    company: '',
                    email: 'damara9292@gmail.com',
                }
            ],
        },
        {
            country: 'Cameroon',
            flag:'flag-cameroon.jpg',
            number_of_alumni: '40',
            alumni: [
                {
                    photo: 'assets/images/cameroon.jpg',
                    name: 'Tetsawou Genesquain Guibert',
                    position: 'Researcher',
                    company: '',
                    email: 'g_tetsawou@yahoo.com',
                }
            ]
        },
        {
            country: 'Republic of the Congo',
            flag:'flag-congo.jpg',
            number_of_alumni: '80',
            alumni: [
                {
                    photo: 'assets/images/congo.jpg',
                    name: 'Ngoma Massoumou Stael Eddy Fydhel',
                    position: 'Researcher',
                    company: '',
                    email: 'eddy_cent52@yahoo.fr',
                }
            ]
        },
        {
            country: 'Vietnam',
            flag:'flag-vietnam.jpg',
            number_of_alumni: '207',
            alumni: [
                {
                    photo: 'assets/images/vietnam.jpg',
                    name: 'Anh Hoang Chu',
                    position: '',
                    company: '',
                    email: 'chuhoanganh2607@yahoo.com',
                    email_2: 'anhcth@hau.edu.vn',
                }
            ]
        },
        {
            country: 'Turkmenistan',
            flag:'flag-turkmenistan.jpg',
            number_of_alumni: '78',
            alumni: [
                {
                    photo: 'assets/images/turkmenistan.jpg',
                    name: 'Annagulyyev Guychmyrat Pygammergulyyevich',
                    position: 'Entrepreneur',
                    company: '',
                    email: 'Power_93_03@mail.ru',
                }
            ]
        },
    ]

-   let classAssociation = 'association'
+association(dataAssociation, classAssociation)
