-
    const dataAssociation = [
        {
            country: 'Iraq',
            flag:'flag-iraq.jpg',
            number_of_alumni: '312',
            coordinator: [
                {
                    photo: './../../../assets/images/iraq-1.jpg',
                    name: 'Dr. Al-Kaeath Nabeel Abdalla Kaeath',
                    position: 'Head of AKKAD Organization',
                    position_2: 'Assistant Professor',
                    company_2: 'Al-Muthanna University',
                    company: '',
                    email: 'nabeel_kaeat@mu.edu.iq',
                    review: [
                        {
                            p_1: 'In 2016 together with some of my fellow graduates of Tambov State Technical University, I founded the Akkad Organization for Cultural Exchange between Iraq and Russia. Our goal was to expand scientific and cultural cooperation between Iraqi and Russian society. Since then, we have implemented many successful projects.',
                            p_2: 'From the moment of graduation to today, I visit Tambov and TSTU almost every year. I definitely participate in scientific conferences and cultural events that take place at its base, and invite my fellow engineers and teachers from Iraqi universities to visit my dear university.',
                        }
                    ]
                }
            ],
            alumni: [
                {
                    photo: './../../../assets/images/iraq-2.jpg',
                    name: 'Omar Hashim Yahya  Al-Hamami',
                    position: '',
                    company: '',
                    email: 'omar.h.yahya@gmail.com',
                },
                {
                    photo: './../../../assets/images/iraq-3.jpg',
                    name: 'Asaad Khudhair Almayyahi',
                    position: 'Assistant Professor at Southern Technical University',
                    company: '',
                    email: 'O8l1ubad6j@gmail.com',
                },
                {
                    photo: './../../../assets/images/iraq-4.jpg',
                    name: 'Al-Kinani Hussein Razzaq Nayyef',
                    position: 'Teacher at Southern Technical University',
                    company: '',
                    email: '',
                }
            ],
        },
        {
            country: 'Namibia',
            flag:'flag-namibia.jpg',
            number_of_alumni: '5',
            coordinator: [
                {
                    photo: './../../../assets/images/Paul.jpg',
                    name: 'Dr. Paulus Sheetekela',
                    position: 'Director: ICT Services Directorate',
                    company: 'International University of Management (IUM)',
                    position_2: 'Vice President',
                    company_2: 'Russian Alumni Association of Namibia (RAAN)',
                    email: 'nabeel_kaeat@mu.edu.iq',
                }
            ]
        },
        {
            country: 'Venezuela',
            flag:'flag-venezuela.jpg',
            number_of_alumni: '3',
            coordinator: [
                {
                    photo: './../../../assets/images/victoriaizarith.jpg',
                    name: 'Victoria Izarith Jorges Rodriguez',
                    position: '',
                    company: '',
                    email: 'victoriaizarith@gmail.com',
                }
            ],
            alumni: [
                {
                    photo: './../../../assets/images/venezuela-2.jpg',
                    name: 'Garrido Garcia Juan Ernesto',
                    position: '',
                    company: '',
                    email: 'juanernestogg@gmail.com',
                }
            ]
        },
        {
            country: 'Yemen',
            flag:'flag-yemen.jpg',
            number_of_alumni: '119',
            coordinator: [
                {
                    photo: './../../../assets/images/yemen-1.jpg',
                    name: 'Said Bassam Mohamed Ghalib',
                    position: 'Interpreter',
                    company: '',
                    email: 'galaxy2010@mail.ru',
                }
            ],
            alumni: [
                {
                    photo: './../../../assets/images/yemen-2.jpg',
                    name: 'Mareai Yuosef Abdo Saleh Muthanna',
                    position: 'Politician, Researcher',
                    company: '',
                    email: 'yousefmaree299@gmail.com',
                }
            ]
        },
        {
            country: 'Algeria',
            flag:'flag-algeria.jpg',
            number_of_alumni: '10',
            coordinator: [
                {
                    photo: './../../../assets/images/algeria-1.jpg',
                    name: 'Slimanou Meriem',
                    position: 'Researcher',
                    company: '',
                    email: 'slimanou.meriem@gmail.com',
                    review: [
                        {
                            p_1: "I completed my master's degree in Algeria, and then came to study in Russia and enrolled in postgraduate school at Tambov State Technical University. Studying at TSTU was both a stimulating and rewarding experience, thanks to the specialty I chose in the field of green hydrogen and renewable energy sources.",
                            p_2: 'Throughout my studies, I felt the support and kindness of the faculty and staff of the Postgraduate department. The responsible persons building the learning process were kind and responsive, which greatly facilitated my learning.',
                            review_summary: [
                                {
                                    p_1:'I would like to say a few words to my supervisor. Thanks to his professional advice and expertise, I was able to expand my research and explore new approaches in the field of renewable energy sources. He was always ready to discuss my ideas, and his constructive feedback was very valuable for my academic development.',
                                    p_2: 'As a foreign student, I have participated in numerous social and cultural events organized by the Faculty of Foreign Education. It helped me to make acquaintances with fellow students from different countries and cultures.',
                                    p_3: 'In conclusion, I would like to note that studying at Tambov State Technical University is characterized by high-quality mentoring and development opportunities, which together have enriched my path as a researcher.',
                                }
                            ]
                        }
                    ]
                }
            ]
        },
        {
            country: 'Syria',
            flag:'flag-syria.jpg',
            number_of_alumni: '3',
            coordinator: [
                {
                    photo: './../../../assets/images/syria-1.jpg',
                    name: 'Ezzeddin Bahaa',
                    position: 'Teacher',
                    company: '',
                    email: 'bahaa.ezzeddin89@gmail.com',
                }
            ],
            alumni: [
                {
                    photo: './../../../assets/images/syria-2.jpg',
                    name: 'Zain Alabideen Salah Ali',
                    position: 'Lawyer - Manager of Legal Department in Telecommunications Company',
                    company: 'MTN',
                    email: 'z.a.ali.law@gmail.com',
                },
                {
                    photo: './../../../assets/images/syria-3.jpg',
                    name: 'Marah Mohammad Daaboul',
                    position: 'Finance Company Administrative Assistant',
                    company: '',
                    email: 'damara9292@gmail.com',
                }
            ],
        },
        {
            country: 'Cameroon',
            flag:'flag-cameroon.jpg',
            number_of_alumni: '40',
            coordinator: [
                {
                    photo: './../../../assets/images/cameroon.jpg',
                    name: 'Tetsawou Genesquain Guibert',
                    position: 'Researcher',
                    company: '',
                    email: 'g_tetsawou@yahoo.com',
                }
            ]
        },
        {
            country: 'Republic of the Congo',
            flag:'flag-congo.jpg',
            number_of_alumni: '80',
            coordinator: [
                {
                    photo: './../../../assets/images/congo.jpg',
                    name: 'Ngoma Massoumou Stael Eddy Fydhel',
                    position: 'Researcher',
                    company: '',
                    email: 'eddy_cent52@yahoo.fr',
                }
            ]
        },
        {
            country: 'Vietnam',
            flag:'flag-vietnam.jpg',
            number_of_alumni: '207',
            coordinator: [
                {
                    photo: './../../../assets/images/vietnam.jpg',
                    name: 'Anh Hoang Chu',
                    position: '',
                    company: '',
                    email: 'chuhoanganh2607@yahoo.com',
                    email_2: 'anhcth@hau.edu.vn',
                }
            ]
        },
        {
            country: 'Turkmenistan',
            flag:'flag-turkmenistan.jpg',
            number_of_alumni: '78',
            coordinator: [
                {
                    photo: './../../../assets/images/turkmenistan.jpg',
                    name: 'Annagulyyev Guychmyrat Pygammergulyyevich',
                    position: 'Entrepreneur',
                    company: '',
                    email: 'Power_93_03@mail.ru',
                }
            ]
        },
    ]

-   let classAssociation = 'association'
+association(dataAssociation, classAssociation)