node_modules
dist
debug.log
workspace.TSTU-International.code-workspace
sftp.json
debug.log
.vscode
dist-to-php
php
dist_archives
src/assets/images/*
src/assets/pdf/*
src/assets/video/*
TSTU-International.code-workspace
.bash.exe.stackdump
.debug.log


