div(class="grid memo")
    img(class="memo-img" src="../../assets/images/memo-welcome-eng.jpg")
    div(class="memo-guidelines")
        h2(class="section__indextitle") Guidelines for International Students
        a(href="../../assets/pdf/guidelines-for-international-students.pdf")
            img(class="memo-guidelines-img" src="../../assets/images/guidelines-for-international-students.jpg")
        button(class="button button--orange")
            a(href="../../assets/pdf/guidelines-for-international-students.pdf") DOWNLOAD