
-
    const dataTizers = [
        {
            text_1: '12000+',
            text_2: 'Студентов',

        },
        {
            text_1: '12000+',
            text_2: 'Студентов',

        },
    ]
-   let classTizers = 'tizers'
+tizers(dataTizers, classTizers)