-
    const dataTizers = [
        {
            text_1: '12000+',
            text_2: 'Students',

        },
        {
            text_1: 'TOP-100',
            text_2: 'Among Universities of Russia',
            even: true,

        },
        {
            text_1: '55000+',
            text_2: 'Alumni',

        },
    ]
-   let classTizers = 'tizers'
+tizers(dataTizers, classTizers)