.social {
    display: flex;
    flex-wrap: nowrap;
    &__link {
        padding-right: 10px;
        text-decoration: none;
        color: $color-secondary;
        @media screen and (min-width: $desktop-sm) {
            padding-right: 8px;
        }
        @media screen and (min-width: $desktop) {
            padding-right: 10px;
        }
    }
    &__img {
        background-color: $color-light;
        -webkit-box-shadow: -0.2px -0.5px 0.2px 3px rgba(0,0,0,0.1);
        -moz-box-shadow: -0.2px -0.5px 0.2px 3px rgba(0,0,0,0.1);
        box-shadow: -0.2px -0.5px 0.2px 3px rgba(0,0,0,0.1);
        @media screen and (min-width: $desktop-sm) {
            margin-top: 7px;
            max-width: 30px;
        }
        @media screen and (min-width: $desktop) {
            margin-top: 10px;
            max-width: 35px;
        }
        @media screen and (min-width: $desktop-lg) {
            max-width: 40px;
        }
    }

}