mixin social()
    <!-- begin social -->
    .social
        a.social__link(href="https://vk.com/tmbstu" target="_blank")
            i.vk
                img.social__img(src='assets/images/icons/icon-vk.png' alt="TSTU vkontakte")
        a.social__link(href="https://t.me/tmbstu" target="_blank")
            i.tg
                img.social__img(src='assets/images/icons/icon-tg.png' alt="TSTU telegram")
        //- a.social__link(href="https://www.instagram.com/tmbstu/" target="_blank")
        //-     i.instagram
        //-         img.social__img(src='assets/images/icons/instagram.png' alt="TSTU instagram")
        //- a.social__link(href="https://www.facebook.com/tmbstu/" target="_blank")
        //-     i.facebook
        //-         img.social__img(src='assets/images/icons/facebook.png' alt="TSTU facebook")
    <!-- end social -->