//-1. Create a new-page.pug in PAGES folder
//-1.1. Add a layout and variables to new-page.pug using one of the layout located in the folder LAYOUT
extends ../layout/layout-inner
block variables
    - var description = 'Alumni of Tambov State Technical University'
    - var title = 'Alumni of Tambov State Technical University'
    - var title_short = 'Alumni'
    - var pageClass = 'alumni-page'
    - var sectionKey = 'alumni'

//-1.2. Add page content structure
block content
    //-2. Create in blocks > a folder (name-of-new-block-folder) > and pug and scss files inside this folder
    //-2.1 Import created scss file to blocks.scss
    .breadcrumbs.bt-blue
        a(href="index.html" class="breadcrumbs__link") Home
        a(href="#" class="breadcrumbs__link breadcrumbs__link--active")= title_short
    section.name-of-section

    content
        h1.section__title Alumni Video Reviews
        div.video-block
            video(width='570' controls='' border='0')
                source(src='https://www.tstu.ru/en/alumni/video/1.mp4' type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
            video(width='570' height='340' controls='' border='0')
                source(src='https://www.tstu.ru/en/alumni/video/4.mp4' type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
            video(width='570' controls='' border='0')
                source(src='https://www.tstu.ru/en/alumni/video/2.mp4' type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
            video(width='570' controls='' border='0')
                source(src='https://www.tstu.ru/en/alumni/video/3.mp4' type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
            video(width='570' controls='' border='0')
                source(src='https://www.tstu.ru/en/alumni/video/5.mp4' type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
            video(width='570' controls='' border='0')
                source(src='https://www.tstu.ru/en/alumni/video/Roaa.mp4' type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
            video(width='570' controls='' border='0')
                source(src='https://www.tstu.ru/en/alumni/video/Sldozyan.mp4' type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')

