extends ../layout/layout-inner
block variables
    - var description = 'Association of foreign alumni of Tambov State Technical University. Register at https://www.tstu.ru/association-of-foreign-alumni to become a participant of the Association of TSTU foreign alumni'
    - var title = 'TSTU Association of Foreign Alumni'
    - var pageClass = 'association-of-foreign-alumni-page'
    - var sectionKey = 'alumni'

block content
    .breadcrumbs.bt-blue
        a(href="index.html" class="breadcrumbs__link") Home
        a(href="alumni.html" class="breadcrumbs__link breadcrumbs__section-link") Alumni
        a(href="#" class="breadcrumbs__link breadcrumbs__link--active") TSTU Association of Foreign Alumni
    section 
        h1.section__title TSTU Association of Foreign Alumni
        main.content
            include ../../blocks/about/about

            //-include ../../blocks/_elements/_association/_data_association
            h2.subsection__title TSTU Today
            include ../../blocks/tizers/tizers
            button(class="button button--blue")
                a(href="https://www.tstu.ru/r.php?r=work.intern.alumni.registr")   Join TSTU Association of Foreign Alumni
            div(class="alumni-stories-block grid-two-columns")
                div(class="alumni-button-block")
                    a(class="alumni-stories-link") Stories of TSTU alumni
                    button(class="button button--orange")
                        a(href="https://www.tstu.ru/r.php?r=work.intern.alumni.alumnus") # I studied at TSTU
                    button(class="button button--blue")
                        a(href="https://www.tstu.ru/r.php?r=work.intern.alumni.tell") Tell your story
                include ../../blocks/association/association
            h2.subsection__title PLAN of scientific and technical events of Tambov State Technical University for 2025
            table.table
                thead.table__thead
                    tr.table__heading
                        th №
                        th Name of the event, order
                        th Date and place of the event
                        th Person responsible for the event
                tbody.table__tbody
                    tr
                        td 1
                        td The VII International Scientific and Practical Forum of Young Scientists, Postgraduates, Master’s and Bachelor’s Students on the topic: "The Needs and Development of Human Capital in the Context of the Fourth Scientific and Technological Revolution"
                        td May 14, 2025
                        td Т.А. Bondarskaya
                    tr
                        td 2
                        td International Youth Educational Forum "EcoGreen – Environmental Global and Regional Initiatives"
                        td during the year 2025 by agreement
                        td E.S. Mishchenko, А.V. Kozachek
                    tr
                        td 3
                        td International Scientific Student Forum
                        td April 22-25, 2025
                        td М.А. Blum, V.I. Menshchikova
                    tr
                        td 4
                        td VIII All-Russian Economic Security Forum "Strategies for Countering Threats to Russia's Economic Security"
                        td November 25-26, 2025
                        td Т.А. Bondarskaya
                        
                    tr
                        td 5
                        td III International Scientific Conference  «Physical Processes in  Condensed Media»
                        td March 03, 2025
                        td D.Yu. Muromtsev
                        
                    tr
                        td 6
                        td XXVII V.I. Vernadsky's Youth Readings
                        td March 12, 2025
                        td А.V. Kozachek
                    tr
                        td 7
                        td VIII International Scientific and Practical Conference "Strategic Priorities of Ensuring the Life Quality of the Population in the Context of Sustainable Socio-economic Development of the Region"
                        td March 20-21, 2025
                        td R.R. Tolstyakov, V.I. Menshchikova
                    tr
                        td 8
                        td International Scientific Conference of Students, Postgraduates and Young Scientists "Lomonosov-2025"
                        td April 15, 2025
                        td А.V. Kozachek
                        
                    tr
                        td 9
                        td XII International Scientific and Practical Conference for Students, Postgraduates and Young Scientists "The World of Science without Borders"
                        td April 16, 2025
                        td K.V. Samokhin, N.A. Gunina
                        
                    tr
                        td 10
                        td III International Scientific and Practical Conference "Traditions and Innovations in the System of Modern Law"
                        td April 17-18, 2025
                        td Т.М. Lavrik
                        
                    tr
                        td 11
                        td VII International Scientific and Practical Conference "A New Paradigm of Sustainable Development of Territorial and Sectoral Systems in the Context of Digitalization"
                        td April 25, 2025
                        td R.R. Tolstyakov, V.I. Menshchikova
                        
                    tr
                        td 12
                        td X All-Russian Youth Scientific and Practical Conference with International Participation for Students, Young Scientists and Specialists "Radio Electronics. Problems and Prospects of Development"
                        td May 2025
                        td О.А. Belousov
                        
                    tr
                        td 13
                        td V International Scientific and Practical Conference of Young Scientists, Postgraduates and Students
                        td May 16, 2025
                        td R.L. Nikulin
                        
                    tr
                        td 14
                        td VIII International Scientific and Practical Conference "Teaching a Foreign Language in a Professional Context: Traditions, Innovations, Prospects"
                        td May 15-16, 2025
                        td K.V. Samokhin, N.A. Gunina
                        
                    tr
                        td 15
                        td VII All-Russian Scientific and Practical Conference (with international participation) "Study of Socio-economic Development of Territories in the Context of Sanctions and Threats of Global Challenges"
                        td May 13-15, 2025
                        td Т.А. Bondarskaya
                        
                    tr
                        td 16
                        td Vernadsky International Scientific and Practical Conference "Sustainable Development and Security: Innovative Technologies in Science, Education and Production"
                        td May- June 2025
                        td А.V. Kozachek, K.V. Samokhin
                        
                    tr
                        td 17
                        td ХI International Scientific and Practical Conference "Sustainable Development of the Region: Architecture, Construction, Transport"
                        td April 24-25, 2025
                        td P.V. Monastyrev
                        
                    tr
                        td 18
                        td International Scientific and Practical Conference "Management of Large Systems"
                        td September 2025
                        td D.Yu. Muromtsev, Yu.Yu. Gromov, А.А. Tretiakov, I.А.Diakov
                        
                    tr
                        td 19
                        td VI International Scientific and Practical Conference "Graphene and Related Structures: Synthesis, Production and Application"
                        td September 24-26, 2025
                        td A.G. Tkachev
                        
                    tr
                        td 20
                        td VII All-Russian (National) Scientific and Practical Conference "Modern Science: Theory, Methodology, Practice"
                        td September 25-26, 2025
                        td P.V. Monastyrev
                        
                    tr
                        td 21
                        td 20th Scientific Student Conference (annual) of the Association V.I. Vernadsky University "Problems of Technogenic Safety" (selection of projects for UMNIK)
                        td October 02, 2025
                        td M.V. Sokolov
                        
                    tr
                        td 22
                        td All-Russian Scientific and Practical Conference Dedicated to the 10th Anniversary of the Adoption of the Code of Administrative Procedure of the Russian Federation.
                        td October 9-10, 2025
                        td R.L. Nikulin
                        
                    tr
                        td 23
                        td VI All-Russian Scientific and Practical Conference "Finance and Accounting: Current Problems and Development Trajectories"
                        td October 16-17, 2025
                        td V.I. Menshchikova
                        
                    tr
                        td 24
                        td XI International Scientific and Practical Conference "Virtual Modeling, Prototyping and Industrial Design-2025"
                        td October 2025
                        td V.G. Mokrozub
                        
                    tr
                        td 25
                        td Annual International Scientific and Practical Conference "Quality of Information Services" (by correspondence with the publication of the proceedings of the conference)
                        td October 16, 2025
                        td М.А. Blum
                        
                    tr
                        td 26
                        td IV International Scientific and Practical Conference "Topical Issues of Electrochemistry, Ecology and Corrosion Protection", dedicated to the memory of Professor, Honored Worker of Science and Technology of the Russian Federation V.I. Vigdorovich
                        td October 15-17, 2025
                        td S.I. Lazarev
                        
                    tr
                        td 27
                        td XIII International Scientific and Practical Conference "Modern Problems of Philology"
                        td November 7, 2025
                        td М.А. Promtov, S.A. Iliana

                        
                    tr
                        td 28
                        td II International Scientific and Practical Conference "Youth Crime in the Context of Ensuring the Digital Security of a Modern State"
                        td November 20, 2025
                        td Е.Е.Orlova, М.G. Dieva
                        
                    tr
                        td 29
                        td IX International Scientific and Practical Conference "Statistical Methods of Research of Socio-economic and Ecological Systems of the Region"
                        td September 23-24, 2025
                        td R.R. Tolstyakov, Т.А. Bondarskaya
                        
                    tr
                        td 30
                        td I All-Russian Scientific and Practical Conference "Bayevsky Readings (Russian and Foreign Experience of Constitutionalism in Theoretical and Historical Dimensions)"
                        td November 24, 2025
                        td R.L. Nikulin, A.S. Frolov
                        
                    tr
                        td 31
                        td III International Scientific and Practical Conference "Digital Business Transformation: Models and Solutions"
                        td November 27-28, 2025
                        td М.А.Blum
                        
                    tr
                        td 32
                        td IV International Scientific and Practical Conference: "Criminal Procedure and Technical and Criminalistic Support for Combating Cybercrime in Modern Society"
                        td December 9, 2025
                        td М.А. Zheludkov
                        
                    tr
                        td 33
                        td VIII International Scientific and Practical Student Conference "Legal Understanding and Law Enforcement in the Activity of a Lawyer" (jointly with the International University "MITSO", Minsk)
                        td December 15, 2025
                        td I.S. Iskevich
                        
                    tr
                        td 34
                        td International Scientific and Practical Conference "Agro-industrial Safety in the Context of the Implementation of National Projects and Protection of Individual Rights" (jointly with the International University "MITSO", Minsk)
                        td December 18-19, 2025
                        td I.S. Iskevich (all departments of the Faculty of Law are participants)
                        
                    tr
                        td 35
                        td VII International Scientific Conference "Digital Transformation in the Energy Sector"
                        td December 21-22, 2025
                        td О.А. Belousov

