extends ../layout/layout-inner
block variables
    - var description = 'International Partners of Tambov State Technical University'
    - var title = 'International Partners'
    - var pageClass = 'international-partners-page'
    - var sectionKey = 'international'

block content
    .breadcrumbs.bt-blue
        a(href="index.html" class="breadcrumbs__link") Home
        a(href="tstu-international.html" class="breadcrumbs__link breadcrumbs__section-link") TSTU International
        a(href="#" class="breadcrumbs__link breadcrumbs__link--active") International Partners
    section.joint-projects
        h1.section__title International Partners
        .colums
            aside.colums__col30
                include ../../blocks/sidebar/sidebar
            main.colums__col70
                .content
                    h2 Under construction
                    p Sorry, the page you are looking for is currently under maintenance.
                    
                    table(width='100%' border='1' cellspacing='0' cellpadding='3')
                        tbody
                            tr
                                td(class="bg" rowspan='2' valign='top') Algeria
                                td(valign='top')
                                    a(href='http://www.univ-biskra.dz/index.php/en/' target='_blank') Mohamed Kheider Biskra University
                            tr
                                td(valign='top')
                                    a(href="https://univ-batna2.dz/language/en/home-rtl-english/" target='_blank') University of Batna 2
                                
                            tr
                                td(class="country" rowspan='4' valign='top') Armenia
                                td(valign='top')
                                    a(href='http://www.rau.am/rus/' target='_blank') Russian-Armenian University
                            tr
                                td(valign='top')
                                    a(href="https://polytech.am/en/home/" target='_blank') National Polytechnic University of Armenia
                            tr
                                td(valign='top')
                                    a(href='http://www.brusov.am' target='_blank') Yerevan State Linguistic University named after V. Brusov
                            tr
                                td(valign='top')
                                    a(href='https://asue.am/en' target='_blank') Armenian State University of Economics
                            tr
                                td(class="bg" valign='top') Azerbaijan
                                td(valign='top')
                                    a(href='http://azmiu.edu.az/index9ed2.html?lang=en' target='_blank') Azerbaijan University of Architecture and Construction
                            tr
                                td(class="bg" rowspan='9' valign='top') Belarus
                                td(valign='top')
                                    a(href='https://www.bsu.by/en/main.aspx' target='_blank') Belarusian State University
                            tr
                                td(valign='top')
                                    a(href='https://old.bstu.by/en' target='_blank') Brest State Technical University
                            tr
                                td(valign='top')
                                    a(href='https://www.pac.by/en/' target='_blank') Academy of Public Administration under the President of the Republic of Belarus
                            tr
                                td(valign='top')
                                    a(href='http://bsatu.by/en' target='_blank') Belarusian State Agrarian Technical University
                            tr
                                td(valign='top')
                                    a(href='https://www.barsu.by/en/' target='_blank') Baranovichi State University
                            tr
                                td(valign='top')
                                    a(href="https://belstu.by/en" target='_blank') Belarusian State Technological University
                            tr
                                td(valign='top')
                                    a(href='https://www.mitso.by/' target='_blank') International University &quot;MITSO&quot;
                            tr
                                td(valign='top')
                                    a(href='https://bntu.by/en/' target='_blank') Belarusian National Technical University
                            tr
                                td(valign='top')
                                    a(href='http://uavbusel.by/o-nas/istoriya' target='_blank') Research and Production Center for Multifunctional Unmanned Systems
                            tr
                                td(class="bg" rowspan='3' valign='top') Bulgaria
                                td(valign='top')
                                    a(href='http://shu.bg/?language=en' target='_blank') Konstantin Preslavsky University of Shumen
                            tr
                                td(valign='top')
                                    a(href='http://international.ue-varna.bg/en/' target='_blank') University of Economics &ndash; Varna
                            tr
                                td(valign='top')
                                    a(href='https://uacg.bg/?l=2' target='_blank') University of Architecture, Civil Engineering and Geodesy
                            tr
                                td(class="bg" rowspan='4' valign='top') Bosnia and Herzegovina
                                td(valign='top')
                                    a(href='https://www.ues.rs.ba/en/ues/' target='_blank') University of East Sarajevo
                            tr
                                td(valign='top') National Library of Srbats
                            tr
                                td(valign='top')
                                    a(href='https://apeiron-uni.eu/en/' target='_blank') Pan-European University &quot;APEIRON&quot;
                            tr
                                td(valign='top')
                                    a(href='https://unibl.org/en/' target='_blank') University of Banja Luka
                            tr
                                td(rowspan='1' valign='top') Cameroon
                                td(valign='top')
                                    a(href='https://www.univ-dschang.org/' target='_blank') University of Dschang
                            tr
                                td(class="bg" rowspan='8' valign='top') China
                                td(valign='top')
                                    a(href='https://www.hainu.edu.cn' target='_blank') Hainan University
                            tr
                                td(valign='top') &quot;Beijing Bridge Cultural Exchange&quot;
                            tr
                                td(valign='top')
                                    a(href='http://www.whpu.edu.cn/en/' target='_blank') Wuhan Polytechnic University
                            tr
                                td(valign='top')
                                    a(href='http://www.rubbervalley.com/english/ArticleMenu.aspx?class1=7' target='_blank') Rubbervalley Group Co., LTD
                            tr
                                td(valign='top')
                                    a(href='https://enisae.squ.edu.cn/' target='_blank') Suqian University
                            tr
                                td(valign='top')
                                    a(href='http://ylu.admissions.cn/info/Yulin%20Normal%20University' target='_blank') Yulin University
                            tr
                                td(valign='top') Wuhan International Educational and Consulting Company "Fengya"
                            tr
                                td(valign='top')
                                    a(href='https://english.sut.edu.cn/' target='_blank') Shenyang University of Technology
    
                            tr
                                td(class="bg" rowspan='1' valign='top') Commonwealth of Independent States
                                td(valign='top')
                                    a(href='https://e-cis.info/cooperation/3063/78389/' target='_blank') CIS Network University
                            tr
                                td(class="bg" rowspan='3' valign='top') Germany
                                td(valign='top')
                                    a(href='https://www.oth-aw.de' target='_blank') Ostbayerische Technische Hochschule Amberg-Weiden
                            tr
                                td(valign='top')
                                    a(href='https://www.uni-regensburg.de/bayhost/english/' target='_blank') Bavarian Academic Center for Central, Eastern and Southeastern Europe (BAYHOST)
                            tr
                                td(valign='top')
                                    a(href='https://www.natura-borealis.com/blogs/news' target='_blank') Scientific and production company ANGARA GmbH
                            tr
                                td(class="bg" valign='top' rowspan='3') Great Britain
                                td(valign='top')
                                    a(href='https://www.cavendishschool.com' target='_blank') Cavendish School of English
                            tr
                                td(valign='top')
                                    a(href='https://www.ukenglish.org.uk/' target='_blank') UK College of English
                            tr
                                td(valign='top')
                                    a(href='https://www.iiu-edu.eu' target='_blank') Isles International University (Northern Ireland)
                            tr
                                td(class="bg" valign='top') India
                                td(valign='top')
                                    a(href='https://kahedu.edu.in/' target='_blank') Karpagam Academy of Higher Education
                            tr
                                td(class="bg" rowspan='9' valign='top') Iraq
                                td(valign='top')
                                    a(href='https://www.researchgate.net/institution/Al_Muthanna_University' target='_blank') Al Muthanna University 
                            tr
                                td(valign='top') AKKAD Organization for Cultural Exchange Between Iraq and Russia
                            tr
                                td(valign='top')
                                    a(href='http://www.alkadhum-col.edu.iq/imam-kadhim-college-for-isalmic-science-university-2/?lang=en' target='_blank') Imam Al-Kadhum College for Islamic Sciences University
                            tr
                                td(valign='top')
                                    a(href='http://mohesr.gov.iq/ar/' target='_blank') Ministry of Higher Education and Scientific Research of Iraq
                            tr
                                td(valign='top')
                                    a(href='https://www.alsafwa.edu.iq/en/about/' target='_blank') Alsafwa University College
                            tr
                                td(valign='top')
                                    a(href='https://nhhcf.com/' target='_blank') Nab&rsquo;A Al-Hayat Foundation for Medical Sciences and Health Care
                            tr
                                td(valign='top') 
                                    a(href='https://alsalam.edu.iq/en/' target='_blank') Al Salam University College
                            tr
                                td(valign='top') 
                                    a(href='https://main.sawa-un.edu.iq/en/home' target='_blank') Sawa University
                            tr
                                td(valign='top') 
                                    a(href='https://alamarahuc.edu.iq/en/certifications_ratings/' target='_blank') Al-Amarah University College
                            tr
                                td(class="bg" rowspan='3' valign='top') Italy
                                td(valign='top')
                                    a(href='https://www.unige.it/en/' target='_blank') University of Genoa
                            tr
                                td(valign='top')
                                    a(href='http://www.fondazione-delbianco.org/en/' target='_blank') Romualdo Del Bianco Foundation
                            tr
                                td(valign='top')
                                    a(href='http://international.unina2.it/index.php/en/' target='_blank') University of Campania Luigi Vanvitelli
                            tr
                                td(class="bg" valign='top') Japan
                                td(valign='top') Society &quot;Tamba-Tambov&quot;
                            tr
                                td(class="bg" rowspan='10' valign='top') Kazakhstan
                                td(valign='top')
                                    a(href='http://new.wkau.kz/index.php/en/' target='_blank') Zhangir khan West Kazakhstan Agrarian Technical University
                            tr
                                td(valign='top')
                                    a(href='http://ksu.kz/?lang=en' target='_blank') Karaganda State University named after Academician E.A. Buketov
                            tr
                                td(valign='top')
                                    a(href='http://www.kaznau.kz/?lang=en' target='_blank') Kazakh National Agrarian Research University
                            tr
                                td(valign='top')
                                    a(href='https://www.kstu.kz/' target='_blank') Abylkas Saginov Karaganda Technical University
                            tr
                                td(valign='top')
                                    a(href='http://wkehu.kz' target='_blank') West Kazakhstan University of Innovation and Technology
                            tr
                                td(valign='top')
                                    a(href='https://www.kaznu.kz/en' target='_blank') Al-Farabi Kazakh National University
                            tr
                                td(valign='top')
                                    a(href='https://en.kazgasa.kz/rubric/about_the_kazgasa' target='_blank') Kazakh Leading Academy of Architecture and Civil Engineering
                            tr
                                td(valign='top')
                                    a(href='https://auezov.edu.kz/eng/' target='_blank') Mukhtar Auezov South Kazakhstan University
                            tr
                                td(valign='top')
                                    a(href='https://okmpu.edu.kz/en/node/91' target='_blank') South Kazakhstan Pedagogical University
                            tr
                                td(valign='top')
                                    a(href="https://shakarim.edu.kz/" target='_blank') Shakarim University
                            tr
                                td(class="bg" rowspan='8' valign='top') Kyrgyzstan
                                td(valign='top')
                                    a(href='https://krsu.edu.kg/' target='_blank') Kyrgyz-Russian Slavic University named after the First President of the Russian Federation B. N. Yeltsin
                            tr
                                td(valign='top')
                                    a(href='https://www.knu.kg/en/' target='_blank') Kyrgyz National University
                            tr
                                td(valign='top')
                                    a(href='http://main.iksu.kg/' target='_blank') K.Tynystanov Issyk-Kul State University
                            tr
                                td(valign='top')
                                    a(href='https://kstu.kg/en/' target='_blank') Kyrgyz State Technical University named after I.Razzakov
                            tr
                                td(valign='top')
                                    a(href='https://Kai.kg/' target='_blank') Kyrgyz Aviation Institute named after I. Abdraimova
                            tr
                                td(valign='top')
                                    a(href='http://oshtu.kg/en/home/' target='_blank') Osh Technological University
                            tr
                                td(valign='top') The Center of the Russian Language on the Basis of Kyrgyz National University
                            tr
                                td(valign='top')
                                    a(href='https://kstu.kg/en/' target='_blank') Russian-Kyrgyz Consortium of Technical Universities
                            tr
                                td(class="bg" valign='top') Lithuania
                                td(valign='top')
                                    a(href='https://en.ktu.edu/' target='_blank') Kaunas University of Technology
                            tr
                                td(class="bg" rowspan='1' valign='top') Poland
                                td(valign='top')
                                    a(href='https://pb.edu.pl/en' target='_blank') Bialystok University of Technology
                            tr
                                td(class="bg" valign='top') Portugal
                                td(valign='top')
                                    a(href='https://www.ipp.pt/?set_language=en' target='_blank') Polytechnic Institute of Porto
                            tr
                                td(class="bg" valign='top') Serbia
                                td(valign='top') 
                                    a(href='https://www.naturaecocorp.com/' target='_blank') Enterprise &quot;Natura Eco&quot;
                            tr
                                td(class="bg" valign='top' rowspan='2') Slovakia
                                td(valign='top')
                                    a(href='https://www.stuba.sk/english.html?page_id=132' target='_blank') Slovak University of Technology in Bratislava
                            tr
                                td(valign='top')
                                    a(href='http://www.dti.sk/en/' target='_blank') DTI University
                            tr
                                td(class="bg" valign='top') South Korea
                                td(valign='top')
                                    a(href='https://dgist.ac.kr/en/' target='_blank') Daegu Gyeonbuk Institute of Science and Technology
                            tr
                                td(class="bg" valign='top') South Ossetia
                                td(valign='top')
                                    a(href='http://www.xipu.ru/' target='_blank') South Ossetian State University Named After А.А. Tibilov
                            tr
                                td(class="bg" rowspan='4' valign='top') Tajikistan
                                td(valign='top')
                                    a(href='https://www.4icu.org/reviews/15603.htm' target='_blank') Institute of Energy of Tajikistan
                            tr
                                td(valign='top')
                                    a(href='https://edu-cip.tj/' target='_blank') State Establishment &ldquo; Center of International Programs&rdquo;
                            tr
                                td(valign='top')
                                    a(href='https://www.rtsu.tj/' target='_blank') Russian-Tajik (Slavic) University
                            tr
                                td(valign='top')
                                    a(href='https://tnu.tj/index.php/en/main/' target='_blank') Tajik National University
                            tr
                                td(class="bg" rowspan='7' valign='top') Uzbekistan
                                td(valign='top')
                                    a(href='https://tuit.uz/en' target='_blank') Tashkent University of Information Technologies Named after Muhammad Al-Khwarizmi
                            tr
                                td(valign='top')
                                    a(href='http://ndki.uz/en/' target='_blank') Navoi State Mining Institute
                            tr
                                td(valign='top')
                                    a(href='http://tkti.uz/en' target='_blank') Tashkent Chemical-Technological Institute
                            tr
                                td(valign='top')
                                    a(href='http://rosobrazovanie.uz/' target='_blank') Non-State Educational Establishment &quot;Rosobrazovanie&quot;
                            tr
                                td(valign='top')
                                    a(href='https://bmti.uz/ru/' target='_blank') Bukhara Engineering Technological Institute
                            tr
                                td(valign='top')
                                    a(href='https://samgasi.uz/en' target='_blank') Samarkand State Architectural and Civil Engineering Institute
                            tr
                                td(valign='top')
                                    a(href='http://tsue.uz/en/' target='_blank') Tashkent State University of Economics
                            tr
                                td(class="bg" rowspan='1' valign='top') Vietnam
                                td(valign='top')
                                    a(href='http://www.vast.ac.vn/en/' target='_blank') Vietnam Academy of Science and Technology
                            tr
                                td(class="bg" rowspan='1' valign='top') Zimbabwe
                                td(valign='top')
                                    a(href='https://www.uz.ac.zw/' target='_blank') University of Zimbabwe
