extends ../layout/layout-inner
block variables
    - var description = 'Intensive Russian Language Course at Tambov State Technical University. Learn Russian language at TSTU https://www.tstu.ru/'
    - var title = 'Intensive Russian Language Course'
    - var pageClass = 'intensive-russian-language-course-page'
    - var sectionKey = 'international'

block content
    .breadcrumbs.bt-blue
        a(href="index.html" class="breadcrumbs__link") Home
        a(href="tstu-international.html" class="breadcrumbs__link breadcrumbs__section-link") TSTU International
        a(href="#" class="breadcrumbs__link breadcrumbs__link--active") Intensive Russian Language Course
    section 
        h1.section__title Intensive Russian Language Course
        main.content
            include ../../blocks/about/about
            //-include ../../blocks/instituteInfo/instituteInfo
            //-include ../../blocks/course/course
            h2#application-documents.section__indextitle Documents Required to Study at TSTU
            ol
                li
                    a(href='education/inst/doc/mo/appl_form_05.02.16.doc' target='_blank') Application form;
                li Medical certificate, HIV-test, X-ray results (filled in Russian and English languages) made not later than in 6 months before coming to Russia;
                li Legalized educational documents (School certificate, Bachelor&apos;s certificate, Master&rsquo;s certificate);
                li Notarized and legalized translations of educational documents (2 copies). If the sheet with estimations goes separately from the Certificate (Diploma) it is necessary to make 2 notarized translations of it (2 copies). The name in the translation must be like in VISA;
                li 6 photos 3&khcy;4 (mat paper) with signature on the over side;
                li International passport;
                li Assignment to study from the Ministry of Education of Russian Federation or the Contract with TSTU;
                li Other documents at will of a candidate, confirming his training.
            h3 Address for applications and additional information:
            br
            div
                p Faculty of International Education, TSTU, Sovetskaya St., 106, Tambov, Russia, 392000
                p Tel: (4752) 63-20-24
                p WhatsApp: + 7 910 850 42 50
                p E-mail: 
                    a(href='mailto:fmo@mail.tstu.ru') fmo@mail.tstu.ru , 
                    a(href='mailto:tstu04@yahoo.com') tstu04@yahoo.com
