extends ../layout/layout-inner
block variables
    - var description = 'International Partners of Tambov State Technical University'
    - var title = 'International Partners'
    - var pageClass = 'international-partners-page'
    - var sectionKey = 'international'

block content
    .breadcrumbs.bt-blue
        a(href="index.html" class="breadcrumbs__link") Home
        a(href="tstu-international.html" class="breadcrumbs__link breadcrumbs__section-link") TSTU International
        a(href="#" class="breadcrumbs__link breadcrumbs__link--active") International Partners
    section.joint-projects
        h1.section__title International Partners
        .colums
            aside.colums__col30
                include ../../blocks/sidebar/sidebar
            main.colums__col70
                .content
                    // h2 Under construction
                    // p Sorry, the page you are looking for is currently under maintenance.
                    table(width='100%' border='1' cellspacing='0' cellpadding='3')
                        tbody
                            tr
                                td(class="bg" rowspan='4' valign='top') Algeria
                                td(valign='top')
                                    a(href='https://www.enp.edu.dz/en/' target='_blank') National Polytechnical School
                            tr
                                td(valign='top')
                                    a(href="https://www.nsnn.edu.dz/" target='_blank') National School of Nanoscience and Nanotechnology

                            tr
                                td(valign='top')
                                    a(href='https://univ-batna2.dz/language/en/home-rtl-english/' target='_blank') University of Batna 2
                            tr
                                td(valign='top')
                                    a(href="https://univ-constantine3.dz/" target='_blank') University of Constantine 3-Salah Boubnider
                            tr
                                td(class="country" rowspan='4' valign='top') Armenia
                                td(valign='top')
                                    a(href='http://www.rau.am/rus/' target='_blank') Russian-Armenian University
                            tr
                                td(valign='top')
                                    a(href="https://polytech.am/en/home/" target='_blank') National Polytechnic University of Armenia
                            tr
                                td(valign='top')
                                    a(href='http://www.brusov.am' target='_blank') Yerevan State Linguistic University named after V. Brusov
                            tr
                                td(valign='top')
                                    a(href='https://asue.am/en' target='_blank') Armenian State University of Economics
                            tr
                                td(class="bg" valign='top') Azerbaijan
                                td(valign='top')
                                    a(href='http://azmiu.edu.az/index9ed2.html?lang=en' target='_blank') Azerbaijan University of Architecture and Construction
                            tr
                                td(class="bg" rowspan='11' valign='top') Belarus
                                td(valign='top')
                                    a(href='https://www.bsu.by/en/main.aspx' target='_blank') Belarusian State University
                            tr
                                td(valign='top')
                                    a(href='https://old.bstu.by/en' target='_blank') Brest State Technical University
                            tr
                                td(valign='top')
                                    a(href='https://www.pac.by/en/' target='_blank') Academy of Public Administration under the President of the Republic of Belarus
                            tr
                                td(valign='top')
                                    a(href='http://bsatu.by/en' target='_blank') Belarusian State Agrarian Technical University
                            tr
                                td(valign='top')
                                    a(href='https://www.barsu.by/en/' target='_blank') Baranovichi State University
                            tr
                                td(valign='top')
                                    a(href="https://belstu.by/en" target='_blank') Belarusian State Technological University
                            tr
                                td(valign='top')
                                    a(href='https://www.mitso.by/' target='_blank') International University &quot;MITSO&quot;
                            tr
                                td(valign='top')
                                    a(href='https://bntu.by/en/' target='_blank') Belarusian National Technical University
                            tr
                                td(valign='top')
                                    a(href='http://uavbusel.by/o-nas/istoriya' target='_blank') Research and Production Center for Multifunctional Unmanned Systems
                            tr
                                td(valign='top')
                                    a(href='https://www.gstu.by/?ysclid=mbj8dfkwe1587591724' target='_blank') Sukhoi State technical University of Gomel
                            tr
                                td(valign='top')
                                    a(href='https://unan.by/en/' target='_blank') University of the National Academy of Sciences of Belarus

                            tr
                                td(class="bg" rowspan='2' valign='top') Bulgaria
                                //-td(valign='top')
                                    //-a(href='http://shu.bg/?language=en' target='_blank') Konstantin Preslavsky University of Shumen
                                td(valign='top')
                                    a(href='http://international.ue-varna.bg/en/' target='_blank') University of Economics &ndash; Varna
                            tr
                                td(valign='top')
                                    a(href='https://uacg.bg/?l=2' target='_blank') University of Architecture, Civil Engineering and Geodesy
                            tr
                                td(class="bg" rowspan='4' valign='top') Bosnia and Herzegovina
                                td(valign='top')
                                    a(href='https://www.ues.rs.ba/en/ues/' target='_blank') University of East Sarajevo
                            tr
                                td(valign='top') National Library of Srbats
                            tr
                                td(valign='top')
                                    a(href='https://apeiron-uni.eu/en/' target='_blank') Pan-European University &quot;APEIRON&quot;
                            tr
                                td(valign='top')
                                    a(href='https://unibl.org/en/' target='_blank') University of Banja Luka
                            tr
                                td(class="bg" rowspan='1' valign='top') Cambodia
                                td(valign='top')
                                    a(href='https://npic.edu.kh/en/' target='_blank') National Polytechnic  Institute of Cambodia
                            tr
                                td(rowspan='5' valign='top') Cameroon
                                td(valign='top')
                                    a(href='https://www.univ-dschang.org/' target='_blank') University of Dschang
                            tr
                                td(valign='top')
                                    a(href='https://afrism.org/' target='_blank')  African Sputnik Moment (AFRISM)
                            tr
                                td(valign='top')
                                    a(href='https://e-supptic.cm/' target='_blank')  National Advanced School of Posts, Telecommunications, Information and Communication Technologies
                            tr
                                td(valign='top')
                                    a(href='https://cev.udm.cm/index.html' target='_blank')  University of Montagnes
                            tr
                                td(valign='top') The Advanced School of Applied  Sciences Bertoua
                            tr
                                td(class="bg" rowspan='14' valign='top') China
                                td(valign='top') &quot;Beijing Bridge Cultural Exchange&quot;
                            tr
                                td(valign='top')
                                    a(href='https://english.cjlu.edu.cn/' target='_blank') China Jiliang University
                            //-tr
                                //-td(valign='top')
                                    //-a(href='http://www.whpu.edu.cn/en/' target='_blank') Wuhan Polytechnic University
                            tr
                                td(valign='top')
                                    a(href='https://english.cqipc.edu.cn/' target='_blank') Chongqing Industry Polytechnic College
                            tr
                                td(valign='top')
                                    a(href='https://www.en-ctgu.com/' target='_blank') Chongqing Three Gorges University
                            tr
                                td(valign='top')
                                    a(href='https://www.dzkjxy.com/' target='_blank') Dezhou Vocational and Technical College
                            tr
                                td(valign='top')
                                    a(href='https://www.hainu.edu.cn' target='_blank') Hainan University
                            tr
                                td(valign='top')
                                    a(href='http://www.rubbervalley.com/english/ArticleMenu.aspx?class1=7' target='_blank') Rubbervalley Group Co., LTD
                                    //- a(href='https://english.sut.edu.cn/' target='_blank') Shenyang University of Technology
                            tr
                                td(valign='top')
                                    a(href='http://www.sdlvtc.cn/en/' target='_blank') Shandong Labor Vocational and Technical College
                            tr
                                td(valign='top')
                                    a(href='https://www.sdut.edu.cn/' target='_blank') Shandong University of Technology
                            tr
                                td(valign='top')
                                    a(href='https://www.stu.edu.cn/' target='_blank') Shantou University
                            tr
                                td(valign='top')
                                    a(href='https://www.szvtc.cn/' target='_blank') Suizhou Vocational and Technical College
                            tr
                                td(valign='top')
                                    a(href='https://www.sysu.edu.cn/sysuen/' target='_blank') Sun Yat-Sen University
                                    //- a(href='https://enisae.squ.edu.cn/' target='_blank') Suqian University
                            tr
                                td(valign='top') Wuhan International Educational and Consulting Company "Fengya"
                            tr
                                td(valign='top')
                                    a(href='http://ylu.admissions.cn/info/Yulin%20Normal%20University' target='_blank') Yulin University
                            tr
                                td(class="bg" rowspan='1' valign='top') Djibouti
                                td(valign='top')
                                    a(href='https://www.university-directory.eu/Djibouti/Center-for-Studies-and-Scientific-Research-of-Djibouti.html' target='_blank') Djiboutian Centre for Studies and Research
                            tr
                                td(class="bg" rowspan='1' valign='top') Ethiopia
                                td(valign='top')
                                    a(href='https://www.betin.gov.et/' target='_blank') Bio and Emerging Technology Institute
                            //-tr
                                td(class="bg" rowspan='2' valign='top') Germany
                                //-td(valign='top')
                                    a(href='https://www.oth-aw.de' target='_blank') Ostbayerische Technische Hochschule Amberg-Weiden
                                td(valign='top')
                                    a(href='https://www.uni-regensburg.de/bayhost/english/' target='_blank') Bavarian Academic Center for Central, Eastern and Southeastern Europe (BAYHOST)
                            //-tr
                                td(valign='top')
                                    a(href='https://www.natura-borealis.com/blogs/news' target='_blank') Scientific and production company ANGARA GmbH
                            //-tr
                                td(class="bg" valign='top' rowspan='1') Great Britain
                                td(valign='top')
                                    a(href='https://www.iiu-edu.eu' target='_blank') Isles International University (Northern Ireland)
                            tr
                                td(class="bg" valign='top') India
                                td(valign='top')
                                    a(href='https://kahedu.edu.in/' target='_blank') Karpagam Academy of Higher Education
                            tr
                                td(class="bg" rowspan='9' valign='top') Iraq
                                td(valign='top')
                                    a(href='https://www.researchgate.net/institution/Al_Muthanna_University' target='_blank') Al Muthanna University
                            tr
                                td(valign='top') AKKAD Organization for Cultural Exchange Between Iraq and Russia
                            tr
                                td(valign='top')
                                    a(href='https://www.alsafwa.edu.iq/en/about/' target='_blank') Alsafwa University College
                            tr
                                td(valign='top')
                                    a(href='https://nhhcf.com/' target='_blank') Nab&rsquo;A Al-Hayat Foundation for Medical Sciences and Health Care
                            tr
                                td(valign='top') 
                                    a(href='https://alsalam.edu.iq/en/' target='_blank') Al Salam University College
                            tr
                                td(valign='top') 
                                    a(href='https://main.sawa-un.edu.iq/en/home' target='_blank') Sawa University
                            tr
                                td(valign='top') 
                                    a(href='https://alamarahuc.edu.iq/en/certifications_ratings/' target='_blank') Al-Amarah University College
                            tr
                                td(valign='top')
                                    a(href='https://almamonuc.edu.iq/' target='_blank') Al-Ma-moon University College
                            tr
                                td(valign='top')
                                    a(href='https://uokirkuk.edu.iq/english/' target='_blank') University of Kirkuk
                            tr
                                td(class="bg" rowspan='10' valign='top') Kazakhstan
                                td(valign='top')
                                    a(href='https://tttu.edu.kz/en/' target='_blank') Karaganda Industrial University
                            tr
                                td(valign='top')
                                    a(href='http://ksu.kz/?lang=en' target='_blank') Karaganda State University named after Academician E.A. Buketov
                            tr
                                td(valign='top')
                                    a(href='https://en.kazgasa.kz/rubric/about_the_kazgasa' target='_blank') Kazakh Leading Academy of Architecture and Civil Engineering
                            tr
                                td(valign='top')
                                    a(href='http://wkehu.kz' target='_blank') West Kazakhstan University of Innovation and Technology
                            tr
                                td(valign='top')
                                    a(href='http://new.wkau.kz/index.php/en/' target='_blank') Zhangir khan West Kazakhstan Agrarian Technical University
                            tr
                                td(valign='top')
                                    a(href='https://auezov.edu.kz/eng/' target='_blank') Mukhtar Auezov South Kazakhstan University
                            tr
                                td(valign='top')
                                    a(href='https://okmpu.edu.kz/en/node/91' target='_blank') South Kazakhstan Pedagogical University
                            tr
                                td(valign='top')
                                    a(href="https://shakarim.edu.kz/" target='_blank') Shakarim University
                            tr
                                td(valign='top') Limited Liability Partnership &quot;The Best Decision KZ&quot;
                            tr
                                td(valign='top')
                                    a(href='http://www.kaznau.kz/?lang=en' target='_blank') Kazakh National Agrarian Research University
                            
                            tr
                                td(class="bg" rowspan='7' valign='top') Kyrgyzstan
                                td(valign='top')
                                    a(href='https://krsu.edu.kg/' target='_blank') Kyrgyz-Russian Slavic University named after the First President of the Russian Federation B. N. Yeltsin
                            tr
                                td(valign='top')
                                    a(href='https://www.knu.kg/en/' target='_blank') Kyrgyz National University
                            tr
                                td(valign='top')
                                    a(href='http://main.iksu.kg/' target='_blank') K.Tynystanov Issyk-Kul State University
                            tr
                                td(valign='top')
                                    a(href='https://kstu.kg/en/' target='_blank') Kyrgyz State Technical University named after I.Razzakov
                            tr
                                td(valign='top')
                                    a(href='https://Kai.kg/' target='_blank') Kyrgyz Aviation Institute named after I. Abdraimov
                            tr
                                td(valign='top')
                                    a(href='http://oshtu.kg/en/home/' target='_blank') Osh Technological University
                            tr
                                td(valign='top')
                                    a(href='https://oshmpu.kg/en/' target='_blank') Osh State Pedagogical University named after  A. Myrsabekov
                            tr
                                td(class="bg" valign='top' rowspan='1') Lithuania
                                td(valign='top')
                                    a(href='https://en.ktu.edu/' target='_blank') Kaunas University of Technology
                            tr
                                td(class="bg" valign='top' rowspan='1') Morocco
                                td(valign='top')
                                    a(href='https://usms.ac.ma/en' target='_blank') Sultan Moulay Slimane University
                            tr
                                td(class="bg" rowspan='1' valign='top') Poland
                                td(valign='top')
                                    a(href='https://pb.edu.pl/en' target='_blank') Bialystok University of Technology
                            
                            tr
                                td(class="bg" valign='top' rowspan='1') Serbia
                                td(valign='top') 
                                    a(href='https://www.naturaecocorp.com/' target='_blank') Enterprise &quot;Natura Eco&quot;
                            tr
                                td(class="bg" valign='top' rowspan='1') Slovakia
                                td(valign='top')
                                    a(href='http://www.dti.sk/en/' target='_blank') DTI University
                            tr
                                td(class="bg" valign='top') South Ossetia
                                td(valign='top')
                                    a(href='http://www.xipu.ru/' target='_blank') South Ossetian State University Named After А.А. Tibilov
                            tr
                                td(class="bg" rowspan='4' valign='top') Tajikistan
                                td(valign='top')
                                    a(href='https://www.4icu.org/reviews/15603.htm' target='_blank') Institute of Energy of Tajikistan
                            tr
                                td(valign='top')
                                    a(href='https://edu-cip.tj/' target='_blank') State Establishment &ldquo; Center of International Programs&rdquo;
                            tr
                                td(valign='top')
                                    a(href='https://www.rtsu.tj/' target='_blank') Russian-Tajik (Slavic) University
                            tr
                                td(valign='top')
                                    a(href='https://tnu.tj/index.php/en/main/' target='_blank') Tajik National University
                            tr
                                td(class="bg" rowspan='1' valign='top') Tunisia
                                td(valign='top')
                                    a(href='https://isgs.rnu.tn/' target='_blank') Higher Institute of Management of Sousse
                            
                            tr
                                td(class="bg" rowspan='6' valign='top') Uzbekistan
                                td(valign='top')
                                    a(href='https://tuit.uz/en' target='_blank') Tashkent University of Information Technologies Named after Muhammad Al-Khwarizmi
                            tr
                                td(valign='top')
                                    a(href='http://ndki.uz/en/' target='_blank') Navoi State Mining Institute
                            tr
                                td(valign='top')
                                    a(href='http://tsue.uz/en/' target='_blank') Tashkent State University of Economics
                            tr
                                td(valign='top')
                                    a(href='https://nuu.uz/ru/branches/mirzo-ulugbek-nomidagi-ozbekiston-milliy-universiteti-jizzax-filiali/' target='_blank') Jizzakh Branch of National University of Uzbekistan named after Mirzo Ulugbek
                            tr
                                td(valign='top')
                                    a(href='https://www.ferpi.uz/' target='_blank') Ferghana Polytechnic Institute
                            tr
                                td(valign='top') Andijan State Technical University
                            
                            tr
                                td(class="bg" rowspan='1' valign='top') Zimbabwe
                                td(valign='top')
                                    a(href='https://www.uz.ac.zw/' target='_blank') University of Zimbabwe
