.sitemap-page .container {
    padding: .3rem;
    width: 100%;
}

.sitemap-page .brand {
    padding: .2rem;
}
.sitemap-page .page-header__middle {
    padding-bottom: 4.5rem;
}
.sitemap__navigation {
    display: flex;
    justify-content: center;
}
.sitemap-page .nav {
    display: flex;
    justify-content: center;
    width: 100%;
}
.sitemap-page .nav__list {
    width: 100%;
}
@media (max-width: 667px){
    .sitemap-page .nav__list {
        flex-direction: column;
        padding: 0 1rem;
    }
    .sitemap-page .nav__dropdown-list {
    position: relative;
    }
}
.sitemap -page .nav__link {
    display: block;
    padding: 1em 3em 1em 3em;
}

