-
    const dataNav = [
        {
            title: 'Admission',
            // url: 'https://www.tstu.ru/en/r.php?r=education.inst&id=18',
            // url: 'international-education-faculty.html',
            submenu: [
                { title: 'For Foreign Applicants', url: 'for-foreign-applicants.html' },
            ]
        },
        {
            title: 'Students',
            //url: 'https://www.tstu.ru/en/r.php?r=education.activ',
            url: 'students.html',
            submenu: [
                { title: 'Student personal account', url: 'http://web-iais.admin.tstu.ru:7777/big/f?p=505:1:0:::::' },
                // { title: 'Electronic library system of TSTU', url: 'https://www.tstu.ru/en/r.php?r=education.elib' },
                { title: 'Costs of Educational Programmes 2024 - 2025', url: 'https://www.tstu.ru/en/assets/pdf/Costs of Educational Programmes 2024 - 2025.pdf' },
                { title: 'Curricula For Foreign Students', url: 'https://www.tstu.ru/en/education/curricula/pdf/curricula.pdf' },
                { title: 'Diploma Supplement', url: 'diploma-supplement.html' },
                { title: 'Electronic library system of TSTU', url: 'electronic-library-system-of-tstu.html' },
            ]
        },
        {
            title: 'Alumni',
            // url: 'https://www.tstu.ru/en/r.php?r=alumni.video',
            url: 'alumni.html',
            submenu: []
        },
        {
            title: 'Partnership',
            // url: 'https://www.tstu.ru/en/r.php?r=intern.part',
            url: 'international-partners.html',
            submenu: []
        }

    ]
-   let classNav = 'nav'
+nav(dataNav, classNav)