-
    const dataList = [
        {
            text: 'Regulations on the TSTU Electronic Library (pdf-file)',
            url: 'https://www.tstu.ru/general/docum/pdf/vseobr/01.18.pdf',

        },
        {
            text: 'Extract from the register of registered mass media',
            url: 'https://www.tstu.ru/en/education/elib/img/vrSMI.jpg',

        },
        {
            text: 'Certificate of registration of mass media',
            url: 'https://www.tstu.ru/en/education/elib/img/reg_smi.jpg',

        },
        {
            text: 'Certificate of state registration of the computer program',
            url: 'https://www.tstu.ru/en/education/elib/img/prog.jpg',

        },
        {
            text: 'Certificate of state registration of the database',
            url: 'https://www.tstu.ru/en/education/elib/img/baza.jpg',

        },
        {
            text: 'Scientific Library of TSTU',
            url: 'http://www.lib.tstu.ru/',

        }
    ]

-   let classList = 'list-with-icons'
+list2(dataList, classList)