-   let classRankings = 'rankings'
-   let field_title = ''
-   let field_score = ''
-   let field_web_url = ''
-
    let dataRankings = [
        {
            img_url: 'assets/images/rankings/saa.png',
            title: 'Study Abroad Aide',
            web_url: 'https://www.topuniversities.com/university-rankings/eeca-rankings/2020?search=Tambov',
            score: 'TOP 30% (World Rank)',
            score_1: '43 (RF)',
            year: '2024',
        },
        {
            img_url: 'assets/images/rankings/qs-eeca.jpg',
            title: 'QS World University Rankings (EECA University Ranking)',
            web_url: 'https://www.topuniversities.com/university-rankings/eeca-rankings/2020?search=Tambov',
            score: '251-300',
            year: '2020',
        },
        {
            img_url: 'assets/images/rankings/impact.jpg',
            title: 'Impact Rankings',
            web_url: 'https://www.timeshighereducation.com/search/type/ranking_institution?search=Tambov%20State%20Technical%20University',
            score: '1001+',
            year: '',
        },
        {
            img_url: 'assets/images/rankings/webometrics.jpg',
            title: 'Webometrics Ranking of World Universities',
            web_url: 'http://www.webometrics.info/en/Europe/Russian%20Federation',
            score: '4037',
            year: '',
        },
        {
            img_url: 'assets/images/rankings/unirank.jpg',
            title: 'World University Ranking',
            web_url: 'https://www.unirank.org/ru/uni/tambov-state-technical-university/',
            score: '3105  (World Rank)',
            score_1: '73 (RF)',
            year: '',
        },
        {
            img_url: 'assets/images/rankings/scimago.jpg',
            title: 'SCImago Institutions Rankings (SIR)',
            web_url: 'https://www.scimagoir.com/rankings.php?country=RUS',
            score: '208 (RF)',
            year: '',
        },
        {
            img_url: 'assets/images/rankings/interfax.jpg',
            title: 'National Ranking of Universities Interfax',
            web_url: 'https://academia.interfax.ru/ru/ratings/?page=4&rating=1&year=2024',
            score: '63-66',
            year: '',
        },
        {
            img_url: 'assets/images/rankings/zelenye-vuzy-rossii.jpg',
            title: 'Green Russian Universities',
            web_url: 'https://greenuniversity.ru/ranking/#rec148879325',
            score: '1 (year 2022)',
            year: '',
        },
        {
            img_url: '../../assets/images/rankings/greenmetric.jpg',
            web_url: 'https://greenmetric.ui.ac.id/rankings/overall-rankings-2024/tstu.ru',
            title: 'UI GreenMetric World University Ranking',
            score: '933',
            year: '',
        },
        {
            img_url: 'assets/images/rankings/rur.jpg',
            title: 'Round University Ranking',
            web_url: 'https://roundranking.com/ranking/index.html?year=2025&dimns=O&srt=rf&loc=&shw=25&1748865184140',
            score: '1124 (World Rank)',
            score_1: '100 (RF)',
            year: '2025',
        },
        {
            img_url: '../../assets/images/rankings/national-recognition.jpg',
            title: 'Ranking of Russian Universities "National Recognition"',
            //-web_url: 'https://univer.expert/akademicheskiye-reytingi-vuzov-2020/obshchiy-reyting-2020/',
            //-score: '108',
            //-title_2: 'Ranking of Russian Technical Universities "National Recognition"',
            web_url_2: 'https://univer.expert/akademicheskiye-reytingi-vuzov-2022/rejting-tekhnicheskih-vuzov-2022/',
            score_2: '56 (among technical universities in Russia)',
            year: '2020',
        },
        {
            img_url: '../../assets/images/rankings/mosiur.jpg',
            title: 'The Three University Missions Moscow Ranking',
            web_url: 'https://mosiur.org/',
            score: '1751-2000 (World rank)',
            //- score_1: '87-112 (RF)',
            year: '',
        },
        //-{
            //-img_url: '../../assets/images/rankings/national-aggregate.jpg',
            //-web_url: 'https://best-edu.ru/organizations/tambovskiy-gosudarstvennyy-tehnicheskiy-universitet-626',
            //-title: 'National Aggregate Rating',
            //-score: 'TOP 200',
            //-year: '2023',
        //-},

        //-{
            //-img_url: '../../assets/images/rankings/social-navigation.jpg',
            //-web_url: ' https://greenmetric.ui.ac.id/rankings/overall-rankings-2021/',
            //-title: 'Ranking of the Demand for Universities in the Russian Federation (Technical universities)',
           //-score: '39',
            //-year: '',
        //-},

        //-{
            //-img_url: '../../assets/images/rankings/education-russia.jpg',
            //-web_url: ' https://russiaedu.ru/vuz/68/tstu/',
            //- title: 'University Ranking "Education in Russia" (Among Technical Universities)',
            //-score: '260',
            //-year: '',
        //-},
                //-{
            //-img_url: '../../assets/images/rankings/qs-brics.jpg',
            //-title: 'QS World University Rankings (BRICS Ranking)',
            //-web_url: 'https://www.topuniversities.com/university-rankings/brics-rankings/2019',
            //-score: '211-220',
            //-year: '2019',
        //-},

        //-{
            //*img_url: '../../assets/images/rankings/rankpro.jpg',
            //-title: 'RankPro Worldwide Professional University Ranking',
            //-web_url: 'https://www.4icu.org/',
            //-score: '2757 (World rank)',
            //-score_1: '69 (RF)',
            //-year: '',
        //-},
        //-{
            //-img_url: '../../assets/images/rankings/ares.jpg',
            //-title: 'Academic Ranking of World Universities-European Standard ARES',
            //-web_url: 'http://eurochambres.org/',
            //-score: '63 (RF)',
            //-year: '2019',
        //-},

        

    ]
+rankings(dataRankings, classRankings)
.clearfix
