.institute
    .institute__item
        a(href="../technological-institute.html")
            img.institute__logo(src="../../assets/images/logo/institutes/tstu-technological-institute-logo.jpg")
            .institute__description
                .institute__name Technological Institute
    .institute__item
        img.institute__logo(src="../../assets/images/logo/institutes/tstu-institute-of-architecture-civil-engineering-and-transport-logo.jpg")
        .institute__description
            .institute__name
                a(href="../institute-of-architecture-civil-engineering-and-transport.html").institute__link  Institute of Architecture, Civil Engineering and Transport
    .institute__item
        img.institute__logo(src="../../assets/images/logo/institutes/tstu-institute-of-automation-and-information-technologies-logo.jpg")
        .institute__description
            .institute__name
                a(href="../institute-of-automation-and-information-technologies.html").institute__link Institute of Automation and Information Technologies
    .institute__item
        img.institute__logo(src="../../assets/images/logo/institutes/tstu-institute-of-economics-and-quality-of-life-logo.jpg")
        .institute__description
            .institute__name
                a(href="../institute-of-economics-and-quality-of-life.html").institute__link Institute of Economics and Quality of Life
    .institute__item
        img.institute__logo(src="../../assets/images/logo/institutes/tstu-institute-of-law-logo.jpg")
        .institute__description
            .institute__name
                a(href="../institute-of-law.html").institute__link Institute of Law
    .institute__item
        img.institute__logo(src="../../assets/images/logo/institutes/tstu-institute-of-power-engineering-and-radio-electronics-logo.jpg")
        .institute__description
            .institute__name
                a(href="../institute-of-power-engineering-tool-engineering-and-radio-electronics.html").institute__link Institute of Power Engineering, Tool Engineering and Radio Electronics
    .institute__item
        img.institute__logo(src="../../assets/images/logo/institutes/tstu-institute-of-study-by-correspondence-logo.jpg")
        .institute__description
            .institute__name
                //- a(href="https://www.tstu.ru/en/r.php?r=education.inst&id=14").institute__link Institute of Study by Correspondence
                a(href="../institute-of-study-by-correspondence.html").institute__link Institute of Study by Correspondence
    .institute__item
        img.institute__logo(src="../../assets/images/logo/institutes/tstu-institute-of-additional-professional-education-logo.jpg")
        .institute__description
            .institute__name
                //- a(href="https://www.tstu.ru/en/r.php?r=education.inst&id=15").institute__link Institute of Additional Professional Education
                a(href="../institute-of-additional-professional-education.html").institute__link Institute of Additional Professional Education
    .institute__item
        img.institute__logo(src="../../assets/images/logo/institutes/tstu-international-education-faculty-logo.jpg")
        .institute__description
            .institute__name
                //- a(href="https://www.tstu.ru/en/r.php?r=education.inst&id=18").institute__link International Education Faculty
                a(href="../international-education-faculty.html").institute__link International Education Faculty
    .institute__item
        img.institute__logo(src="../../assets/images/logo/institutes/tstu-faculty-of-natural-and-social-sciences-logo.jpg")
        .institute__description
            .institute__name
                //- a(href="https://www.tstu.ru/en/r.php?r=education.inst&id=104").institute__link Faculty of Natural and Social Sciences
                a(href="../faculty-of-natural-and-social-sciences.html").institute__link Faculty of Natural and Social Sciences


                <!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="description" content="description - Tambov State Technical University"><meta name="viewport" content="width=device-width,initial-scale=1"><title>Page Title</title><link href="assets/css/app.73590a662cb6b595c8f2.css" rel="stylesheet"></head><body class="class-of-page"><header class="page-header"><div class="page-header__top"><div class="page-header__content container"><nav class="nav"><ul class="nav__list"><li class="nav__item"><a class="nav__link">Admission</a><ul class="nav__dropdown-list"><li class="nav__dropdown-item"><a class="nav__dropdown-link" href="for-foreign-applicants.html">For Foreign Applicants</a></li><li class="nav__dropdown-item"><a class="nav__dropdown-link" href="intensive-russian-language-course.html">Intensive Russian Language Course</a></li></ul></li><li class="nav__item"><a class="nav__link" href="students.html">Students</a><ul class="nav__dropdown-list"><li class="nav__dropdown-item"><a class="nav__dropdown-link" href="http://web-iais.admin.tstu.ru:7777/big/f?p=505:1:0:::::">Student personal account</a></li><li class="nav__dropdown-item"><a class="nav__dropdown-link" href="https://www.tstu.ru/en/assets/pdf/Costs of Educational Programmes 2024 - 2025.pdf