.institute {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__item {
        padding: 20px;
        margin: 0 10px 10px 0;
        display: flex;
        flex-wrap: wrap;
        flex: 1;
        align-items: stretch;
        justify-items: center;
        justify-content: center;
        max-width: 260px;
        border: 1px solid $color-primary;
    }
    &__logo {
        display: block;
        height:60%;
        max-width: 250px;
        padding-bottom: 25px;
        margin: 0 auto;
    }
    &__name {
        font-size: 20px;
        color: $color-primary;
        padding-bottom: 8px;
        max-width: 220px;
    }
    &__link {
        color: $color-primary;
        text-decoration: underline;
    }
}