
block variables

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="yandex-verification" content="c467878d1688769c")
        meta(name="google-site-verification" content="QJfB3yHybyK6laLfMcWzGugvQyIVo_4yx4Tkn4nu11k")
        meta(name="description", content=description)
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        // Google tag (gtag.js)
        script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-YXY4RGKHJQ')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-YXY4RGKHJQ');
        title #{title}

    body(class=pageClass)
        include ../../blocks/_elements/_elements
        //- Page-top
        //-include ../../blocks/page-top/page-top
        //- Header
        include ../../blocks/header/header
        //- Content
        block content
        //- Footer
        include ../../blocks/footer/footer
