include ../_elements/_list_with_icons/_list_with_icons
-
    const data4 = [
        {
            text: 'E-library Archive',
            url: 'https://elib.tstu.ru/arx.php',

        }
    ]

-   let classList4= 'list-with-icons'
+list2(data4, classList4)