include ../_elements/_list_with_icons/_list_with_icons
-
    const data2 = [
        {
            text: 'Electronic analogues of TSTU printed publications',
            url: 'https://www.tstu.ru/general/docum/pdf/vseobr/01.18.pdf',

        },
        {
            text: 'Electronic textbooks',
            url: 'https://www.tstu.ru/en/education/elib/img/vrSMI.jpg',

        },
        {
            text: 'Electronic educational resources (EER) in the form of electronic documents',
            url: 'https://www.tstu.ru/en/education/elib/img/reg_smi.jpg',

        },
        {
            text: 'Multimedia electronic publications',
            url: 'https://www.tstu.ru/en/education/elib/img/prog.jpg',

        },
        {
            text: 'The journal "Problems of Contemporary Science and Practice. Vernadsky University"',
            url: 'https://www.tstu.ru/en/education/elib/img/baza.jpg',

        },

    ]

-   let classList2 = 'list-with-icons'
+list2(data2, classList2)