include ../_elements/_list_with_icons/_list_with_icons
-
    const data3 = [
        {
            text: 'Scientific Library of TSTU',
            url: 'http://www.lib.tstu.ru/',

        }
    ]

-   let classList3 = 'list-with-icons'
+list2(data3, classList3)