.colums
    .colums__col50
        h2 Documents
        include ../../blocks/library/data_links
    .colums__col50
        h2 Information Resources
        include ../../blocks/library/data_links2
.colums
    .colums__col50
        h2 Useful Resources
        include ../../blocks/library/data_links3
    .colums__col50
        h2 Archive
        include ../../blocks/library/data_links4
